{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% block body %}
    {% for matiere in matieres %}
        <h2 class="page-header">{{ matiere.name }}</h2>
    {% endfor %}
    {% endblock %}