{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% block body %}
    {% for matiere in matieres %}
        <h2 class="page-header">{{ matiere.name }}</h2>
        {% for activite in matiere.activites %}
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        <li class=""><a href="#" data-toggle="tab">Séries privés</a></li>
                        <li class="active"><a href="#" data-toggle="tab">Séries publiques</a></li>
                        <li class="pull-left header">{{ activite.name }}</li>
                    </ul>
                    <div class="tab-content">
                        <!--<div class="tab-pane" id="tab_1-1">
                            Test
                        </div>-->
                        <div class="tab-pane active" id="tab_2-2">
                            Test
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    {% endblock %}