{% macro row(element) %}
    <div class="form-group">
        {{ form_label(element) }}
        {% spaceless %}
            {% if element.vars.errors|length > 0 %}
                <div class="callout callout-danger">
                    {% for error in element.vars.errors %}
                        <h4>{{ error.message }}</h4>
                    {% endfor %}
                </div>
            {% endif %}
        {% endspaceless %}

        {{ form_widget(element) }}
    </div>
{% endmacro %}

{% macro submit(element) %}
    {{ form_widget(element) }}
{% endmacro %}
