<!DOCTYPE html>
<html lang="fr-Fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAS - {{ title }}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% stylesheets 'css/*' filter="cssrewrite" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
</head>
{% import 'EklerniCASBundle:Template:macro.form.html.twig' as eklerni_cas %}
<body class="bg-black">
    <section class="form-box" id="login-box">
        {% block body %}
        {% endblock %}
    </section>

    {% include '::javascript.html.twig' %}
    <!-- JS Global -->
    <script src="{{ asset("js/global.js") }}" type="text/javascript"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>