{% for matiere in matieres %}
    <h3>{{ matiere.name }}</h3>
    {% for activite in matiere.activites %}
        {% if attributions[activite.id] is defined %}
        <h5>{{ activite.name }}</h5>
            {% for attribution in attributions[activite.id] %}
                <a href="{{ path("eklerni_back_serie_fiche", {idSerie:attribution.serie.id}) }}"
                    <div class="btn btn-sm btn-default">
                        {{ attribution.serie.nom }}
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}