{% extends "EklerniCASBundle:Template:template.html.twig" %}
{% block body %}
    {% if error is defined %}
        <div>{{ error.message }}</div>
    {% endif %}
    <div class="header">Registration</div>

    <form action="{{ path('eklerni_cas_register') }}" method="post">
        <div class="body bg-gray">
            {{ form(form) }}
        </div>
        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">Register</button>
        </div>
    </form>
{% endblock %}