{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% block body %}
    {% if classes|length > 0 %}
        <div class="box-body table-responsive">
            <div id="example2_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-6"></div>
                </div>
                <table id="example2" class="table table-bordered table-hover dataTable" aria-describedby="example2_info">
                    <thead>
                    <tr>
                        <th rowspan="1" colspan="1">Nom</th>
                        <th rowspan="1" colspan="1">Niveau</th>
                        <th rowspan="1" colspan="1">Nombre d'Élèves</th>
                    </tr>
                    </thead>

                    <tfoot>
                    </tfoot>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    {% for classe in classes %}
                        <tr class="odd">
                            <td class=" sorting_1">{{ classe.nom }}</td>
                            <td class=" ">{{ class.niveau }}</td>
                            <td class=" ">{{ class.eleves|length }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endif %}
    <a href="{{ path("eklerni_back_classe_create") }}"><button class="btn btn-default">Ajout une Classe</button></a>
{% endblock %}