<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="bg-red">
                <a href="{{ path("eklerni_back_classe") }}">
                    <i class="fa fa-cloud"></i><span>Classes</span>
                </a>
            </li>
            <li class="bg-purple">
                <a href="{{ path("eklerni_back_eleve") }}">
                    <i class="fa fa-male"></i><span>Eleves</span>
                </a>
            </li>
            <li class="bg-yellow">
                <a href="{{ path("eklerni_back_exercice") }}">
                    <i class="fa fa-list"></i><span>Exercices</span>
                </a>
            </li>
            <li class="bg-light-blue">
                <a href="{{ path("eklerni_back_statistiques") }}">
                    <i class="fa fa-bar-chart-o"></i><span>Statistiques</span>
                </a>
            </li>
            <li class="bg-green">
                <a href="">
                    <i class="fa fa-undo"></i><span>Voir le Site</span>
                </a>
            </li>
        </ul>
        <div id="messages"></div>
    </section>
</aside>