{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% block body %}
    <div class="callout callout-danger">
        <h1>{% trans with {'%code%': exception.statusCode } %}Error %code%{% endtrans %}</h1>
        <p>
            {{ exception.message }}
        </p>
    </div>
{% endblock %}